<div id="cstatuses" class = "cstatuses"> 
  <table>
    <tr style="border-bottom:1px solid #DDD;">
     <%#*<td><span style="text-align:center"/>%>
          <%#= f.label :What_Is_In_Your_Mind? %>
    <%#*<br /></td>%>
    <%#*<td><%= f.text_field :desc , {:class=>"text-input",:size=>"35", :maxlength=>"420"} %>
      <%#*</td>%>
   </table>
 <%#= link_to_remove_fields "Remove", f %>
</div>