<div id="disliking" name ="disliking" style="display: none">
  <table>
    <tr>      
      <% for user in dislike_user(content.id) %>
        <td>
          <span class="tooltip" title="<%=user[:first_name]%> <%=user[:last_name]%>">
             <%= image_tag user.avatar.url(:thumb), :size => "25x25"%>
          </span> 
        </td>
        <td>&nbsp;</td>
      <%end%>            
    </tr>    
  </table>
</div>