<div class="add_dataset">
  <table width="60%">  
    <tr>
     <td colspan="2"><span style="float:right;"/><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    
    <tr>
      <td colspan="3"><span style="float: right"/>
          <%= link_to_remove_fields "Remove", f %>
      </td>
    </tr>
  </table>
</div>